@model CryptProject.Models.User

@{
    ViewBag.Title = "AccountDetails";
}

<h2>AccountDetails</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

     

    </dl>
</div>

<p>
    @Html.ActionLink("Logout", "Logout", new { id = Model.id }) |
</p>
